// app global css in SCSS form
div.a {
  text-align: center;
}

div.b {
  text-align: right;
}

div.c {
  text-align: left;
}

.space-between{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background:none;
  background-repeat: no-repeat;
}

.full-width{
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
}

.full-screen{
  width: 100%;
  height: 1800px;
}

.img-width{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.button-screen{
  width: 1000px;
  height: 150px;
}

.Home-screen{
  width: 500px;
  height: 331px;
}

.consonant-screen{
  width: 800px;
  height: 200px;
}

.modeconsonant-screen{
  width: 900px;
  height: 300px;
}


.mode-screen{
  width: 100%;
  height: 873px;
}

.void-screen{
  width: 100%;
  height: 890px;
}

.Home2-screen{
  width: 100%;
  height: 880px;
}

.vowel-screen{
  width: 100%;
  height: 880px;
}

.con-screen{
  width: 100%;
  height: 900px;
}

.full-wave{
  width: 100%;
}

.img-resize{
  width: 130px;
  height: 170px;
}
.img-re{
  width: 600px;
  height: 400px;
}
.img-odo{
  height: 0px;
}
.img-kai2{
  width: 400px;
  height: 250px;

}
.img-kai1{
  width: 200px;
  height: 300px;
}
.img-vowel{
  width: 300px;
  height: 200px;
}
.Back{
  width: 200px;
  height: 100px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
