// app global css in SCSS form
div.a {
  text-align: center;
}

div.b {
  text-align: right;
}

div.c {
  text-align: left;
}

.space-between{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background:none;
  background-repeat: no-repeat;
}

.full-width{
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
}

.full-screen{
  width: 100%;
  height: 1800px;
}

.img-width{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.button-screen{
  width: 1000px;
  height: 150px;
}

.Home-screen{
  width: 500px;
  height: 331px;
}

.consonant-screen{
  width: 800px;
  height: 200px;
}

.modeconsonant-screen{
  width: 900px;
  height: 300px;
}


.mode-screen{
  width: 100%;
  height: 873px;
}

.void-screen{
  width: 100%;
  height: 890px;
}

.Home2-screen{
  width: 100%;
  height: 880px;
}

.vowel-screen{
  width: 100%;
  height: 880px;
}

.con-screen{
  width: 100%;
  height: 900px;
}

.full-wave{
  width: 100%;
}
